#===============================================================================
# KiCad temporary/backup files:
#===============================================================================
*.bak
*.kicad_pcb-bak
*_autosave-*


#===============================================================================
# Eagle 6
#===============================================================================
eagle6/_EAGLE-6.6.0/ulp/*
eagle6/_EAGLE-6.6.0/bin/*
eagle6/_EAGLE-6.6.0/doc/*
eagle6/_EAGLE-6.6.0/misc/*
eagle6/_EAGLE-6.6.0/projects/*
eagle6/_EAGLE-6.6.0/scr/*
eagle6/*.lck


#===============================================================================
# Misc Bullshit
#===============================================================================

#-----------------------------
# kdiff3
#-----------------------------
*.orig

#-----------------------------
# Microsoft Windows
#-----------------------------
Thumbs.db
*/Thumbs.db

#-----------------------------
# FreeFileSync
#-----------------------------
*/_SYNCAPP

