

#===============================================================================
# Eagle 6
#===============================================================================
eagle6/_EAGLE-6.6.0/ulp/*
eagle6/_EAGLE-6.6.0/bin/*
eagle6/_EAGLE-6.6.0/doc/*
eagle6/_EAGLE-6.6.0/misc/*
eagle6/_EAGLE-6.6.0/projects/*
eagle6/_EAGLE-6.6.0/scr/*


